canvas {
	border: 2px solid black;
}

.flex-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 8px;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}